.webwidget_vertical_menu ul{
     text-indent: 25px;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    margin-left: 15%;
    margin-top: 15%;
}
.webwidget_vertical_menu li{

}
.webwidget_vertical_menu ul li{
    list-style: none;
    position: relative;
}
.webwidget_vertical_menu ul li a{
    padding-left: 15px;
    text-decoration: none;
    display: block;
    width:100%;
    height: 100%;
}
.webwidget_vertical_menu ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 999999;
    margin: 0;
    margin-left: 2px;
    
}
.webwidget_vertical_menu ul li ul li{
    margin: 0px;
    border:none;
}
.webwidget_vertical_menu ul li ul li ul{

}
.webwidget_vertical_menu_down_drop{
    background-position: right center;
    background-repeat:no-repeat !important;
}
.webwidget_vertical_menu ul li li{
    font-weight: normal;
}